.comm{
    background: white;
    color: #081522;
}
.comText{
    color: #081522;
    margin-left:220px;
    margin-top: 40px;
}
.float-left{
    border: 2px solid #081522;
    border-radius: 50%;

}
.comN{  
  margin-left: 40px;
}
.form-control{
    height: 100%;
}

@media only screen and (max-width: 768px) {
  .card-text{
      font-size: 18px !important;
  }
 
}