.imageCard{
    margin: 20px 0;
}
.row{
    min-height: 1000px;
}
.input-group  {
    background:#102E4A;
    height: 50px;
    border: 2px solid #102E4A;
    
}
.form-control{
    font-size: 22px;
}
.form-control[placeholder]{
    color: black;   
}
.btn-outline-secondary{
    background: #102E4A;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.btn-outline-secondary:hover{
    background: white;
    color:#102E4A;
}
.textBoot{
    font-size: 25px;
    font-weight: 600;
}