.text{
    background-color: #25415A;
    padding:  0 10px;
    border:2px solid #D3D9DE;
    margin: 20px 0; 
}
.textFeed{
    margin: 20px;
    font-weight: 500;
    border-bottom: 2px solid #D3D9DE;
    font-size: 22px;
}
.textBoot{
    font-size: 25px;
    font-weight: 600;
}
.postContentDes{
    
    text-decoration: none;
}