.pad{
    padding: 20px;
    background-color: #25415A;
    color:#F4F4F4;
    border:2px solid #D3D9DE;
  
}
iframe{
    border:2px solid#fff; 
}
.card-body{
    font-size: 20px;
    color:#fff;
    font-weight: 700;
}
.videoPost{
    display: inline;
}
.comment{
    display: inline;
    float: right;
}
.textBoot{
    font-size: 25px;
    font-weight: 600;
}