.profileImg{
    display: block;
    margin: 40px auto;
}
.profileName{
    display: block;
    margin: 40px auto;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}
.profileDes{
    margin: 20px 80px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 50px;
}

.btnOne{
  border-radius: 50px;
  border:2px solid white;
}

.btnTwo{
    float: right;
    border:2px solid white;
    border-radius: 50px;
}
.btnThree {
    position:absolute;
    top:10%;
    right:35%;
    border:2px solid white;
    border-radius: 50px;
}
